.inverted{color:#FFFFFF;background:#161616}.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h4,.inverted h5,.inverted p,.inverted span{color:#FFFFFF}
#qrform input[type=text], #qrform input[type=password], #qrform textarea, #qrform select {
    border-radius: 4px!important;
    margin: 10px 0;
    background: #292929;
    border: none!important;
    color: #fff!important;
    font-size: 0.8em;
    /* font-weight: 600; */
}
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
    font-weight: 700;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: #fff;
    /* margin-bottom: 1.2rem; */
}
h2 {
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.center-screen {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#resulting-string {
  width: 400px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: -75px;
  text-align: center;
  position: relative;
  left: 32%;
}

#error-string {
  color: red;
  font-size: 20px;
  margin-top: 30px;
}

/* #ethereum-qr-code {
  min-width: 200px;
  min-height: 200px;
  border: 3px dashed #fff;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.dummy {
  min-width: 200px;
  min-height: 200px;
  border: 3px dashed #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

body>.container {
  margin: 50px auto;
}


.button {
    font-size: 0.8em;
    padding: 0.7rem 1.7rem;
    text-transform: uppercase;
    border: none!important;
    margin-top: 10px;
}
.eWVqCU {
    background-image: #fece00;
    background-image: linear-gradient( to right, #fece00 0%, #ff9000 51%, #fece00 100% );
    background-size: 200% auto;
    color: #171717;
}
.yZXOb {
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0 26px;
    min-height: 3em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 12px;
    line-height: 1;
}
.eWVqCU:hover, .eWVqCU:focus {
    background-position: right center;
}
.mb-bot{
  margin-bottom: 60px
}
.mt20 {
  margin-top: 20px;
}
.tcenter {
  text-align: center!important;
}


@media (max-width: 768px) {
  .mb-bot{
    margin-bottom: 40px
  }
  .mb-mb{
    margin-bottom: 20px
  }
}
